// variables
$wb-breakpoints: () !default;

// functions
@function wb-add-breakpoint($name, $options) {
  $options: map-merge((
      'value'              : 768px,
      'suffix'             : '',
      'suffix-alias'       : ''
  ), $options);
  
  @return map-merge($wb-breakpoints, (#{$name}: $options));
}

// default breakpoints
$wb-breakpoints: wb-add-breakpoint('xsmall', (
  'value': 480px
));

$wb-breakpoints: wb-add-breakpoint('small', (
  'value': 768px
));

$wb-breakpoints: wb-add-breakpoint('medium', (
  'value': 992px
));

$wb-breakpoints: wb-add-breakpoint('large', (
  'value': 1200px
));

// media mixin
@mixin wb-media($media) {
  $min-value: 0;
  $keys-list: map-keys($wb-breakpoints);
  
  $first-breakpoint : nth($keys-list, 1);
  $last-breakpoint  : nth($keys-list, length($keys-list));
  
  @each $breakpoint-name, $breakpoint in $wb-breakpoints {
    @if $breakpoint-name == $first-breakpoint {
      @if $media == $breakpoint-name or $media == '<#{$breakpoint-name}' {
        @media screen and (max-width: map-get($breakpoint, 'value') - 1) { @content; }
      }
      
      @if $media == '>#{$breakpoint-name}' {
        @media screen and (min-width: map-get($breakpoint, 'value')) { @content; }
      }
    }
    @else if $breakpoint-name == $last-breakpoint {
      @if $media == $breakpoint-name or $media == '>#{$breakpoint-name}' {
        @media screen and (min-width: $min-value) { @content; }
      }
      
      @if $media == '<#{$breakpoint-name}' {
        @media screen and (max-width: $min-value - 1) { @content; }
      }
    }
    @else {
      @if $media == $breakpoint-name {
        @media screen and (min-width: $min-value) and (max-width: map-get($breakpoint, 'value') - 1) { @content; }
      }
      
      @if $media == '<#{$breakpoint-name}' {
        @media screen and (max-width: map-get($breakpoint, 'value') - 1) { @content; }
      }
      
      @if $media == '>#{$breakpoint-name}' {
        @media screen and (min-width: map-get($breakpoint, 'value')) { @content; }
      }
    }
    
    $min-value: map-get($breakpoint, 'value');
  }
}